@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: dark;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

::selection {
  background: rgb(238 96 24 / 0.35);
}
